body {
   font-family: Arial, Helvetica, sans-serif;
   background: linear-gradient(lightblue, white);
}

.gameContainer {
   display: block;
   margin: 0 auto;
   text-align: center;
   align-items: center;
   width: 75%;
   position: relative;
   margin-top: 10%;
}

.gameContainer>h1 {
   text-shadow: 0px 5px 15px;
   color: rgba(15, 78, 151, 0.808);
   font-weight: bold;
}

.gameContainer>h2 {
   font-size: 15px;
   font-weight: lighter;
   margin: 5px;
   padding: 10px;
}

.gameContainer div {
   margin: 0 auto;
   padding: 10px;
}

#rangeField {
   display: inline-block;
   justify-content: left;
}

.input > input {
   width: 80px;
   outline-style: none;
   border-radius: 0.65rem;
   margin: 5px;
   text-align: center;
}

.input > input:hover {
   box-shadow: 0px 1px 0.8rem rgba(0, 0, 0, 0.7);
}

.input > button{
   border-radius: 0.7rem;
   font: 0.9rem Arial;
   padding: 4px;
}

.input > button:hover{
   cursor: pointer;
   background-color: #FFFBE6;
   font-weight: bold;
}

#messageField{
   border: 1px solid burlywood;
   width: 85%;
   margin: 20px;
   border-radius: 0.7rem;
   background-color: #FFFBE6;
}
